body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 0%, #2989d8 50%, #207cca 99%);
    height: 100vh;
    width: 100vw;
}

a {
    color: rgb(0, 17, 255);
}

#assets-list {
    display: flex;
    flex-direction: row-reverse;
}

.form-control {
    width: 250px;
    padding-top: 4%;
    margin-left: 350px;
    text-align: center;
}

.navbar {
    height: 80px;
}